.m-articles {
	position: relative;
	padding: 100px 0;

	&:before {
		content: '';
		position: absolute;
		left: -1000px;
		right: -1000px;
		top: 0;
		bottom: 0;
		z-index: -1;
		background-color: #F5F5F5;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 50px;
	}

	&__title {
		font-weight: 700;
		font-size: 64px;
		color: #111820;
	}

	&__link {
		font-weight: 700;
		color: #111820;
		text-transform: uppercase;
		font-size: 18px;
		padding-bottom: 12px;
		text-decoration: none;
	}
}