.welcome {
	position: relative;
	overflow: hidden;
	z-index: 10;



	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #111820;
		opacity: .7;
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%; 
		min-height: 100%;
	}

	&__inner {
		@extend .container;
		position: relative;
		z-index: 2;
		height: 100%;
		flex-grow: 2;
		padding: 130px 30px 240px 30px;
		min-height: 100vh;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	&__content {
		max-width: 770px;
		margin-left: 200px;

		&-title {
			color: #fff;
			font-size: 24px;
			font-weight: 500;
			margin-bottom: 40px;
			text-transform: uppercase;
		}

		&-text {
			font-size: 64px;
			line-height: 77px;
			color: #fff;
			font-weight: 700;
		}
	}

	&__soc {
		position: absolute;
		left: 30px;
		top: 30%;
		transform: translateY(-50%);

		&-item {
			position: relative;
			display: flex;
			align-items: center;
			padding-left: 35px;
			margin-bottom: 60px;

			&:after {
				content: '';
				position: absolute;
				left: -5px;
				top: -5px;
				right: -5px;
				bottom: -5px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {

				.welcome__soc {

					&-name {
						opacity: 1;
					}
				}
			}
		}

		&-img {
			max-height: 19px;
			max-width: 21px;

			&-wrapper {
				position: absolute;
				width: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&-name {
			color: #fff;
			font-size: 18px;
			opacity: 0;
			transition: opacity .3s;
		}

		&-link {
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}
	}

	&__w-slider {
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 2;
	}

	&__note {
		font-size: 18px;
		color: #fff;
		writing-mode: tb-rl;
		transform: rotate(-180deg);
		position: absolute;
		left: 30px;
		bottom: 30px;
		padding-top: 60px;

		&:before {
			content: '';
			position: absolute;
			height: 30px;
			width: 2px;
			background-color: #fff;
			left: 10px;
			top: 0;
		}
	}
}

@media screen and (min-width: 1280px) {
	.welcome {
		margin-bottom: 2000px;
	}
}