.button {
	text-decoration: none;
	border-radius: 35px;
	border: 3px solid transparent;
	font-weight: 700;
	font-size: 24px;
	line-height: 1;
	padding: 15px 60px;
	display: inline-block;
	transition: color .3s, border-color .3s;

	&--white {
		color: rgba(255,255,255,0.75);
		border-color: rgba(255,255,255,0.75);

		&:hover {
			color: #fff;
			border-color: #fff;
		}
	}

	&--compact {
		padding: 20px 45px;
	}

	&--red {
		color: #fff;
		background-color: #F33;

		&:hover {
			background-color: #F00;
		}
	}

	&--dark {
		color: #8B8D8D;
		border-color: #8B8D8D;

		&:hover {
			color: #111820;
			border-color: #111820;
		}
	}

	&--red-transp {
		border-color: #FF3333;
		color: #F33;
	}
}