footer.footer
	.container
		.footer__row
			.footer__col.footer__col--copy
				.footer__text Valvoline © 2019
			.footer__col.footer__col--soc
				.footer__item
					.footer__text Подписывайтесь
					.footer__icons
						a(href="#" style='background-image:url(assets/images/static/footer-fb.svg)').footer__icon
						a(href="#" style='background-image:url(assets/images/static/footer-inst.svg)').footer__icon
						a(href="#" style='background-image:url(assets/images/static/footer-vk.svg)').footer__icon

			.footer__col.footer__col--apps
				.footer__item
					.footer__text Скачивайте
					.footer__icons
						a(href="#" style='background-image:url(assets/images/static/footer-appstore.svg)').footer__icon
						a(href="#" style='background-image:url(assets/images/static/footer-google.svg)').footer__icon
			.footer__col.footer__col--creators
				.footer__text С любовью от <a href='#'>DEUS</a>
