.header(data-aos='fade-down')
	.container
		.header__row
			.header__logo
				a(href="#").header__logo-link
				img(src="assets/images/static/header-logo-white.svg", alt="").header__logo-white
				img(src="assets/images/static/logo-color.svg", alt="").header__logo-color
			.header__burger
				.header__burger-bar
				.header__burger-bar
				.header__burger-bar
		.header__menu
			.container
				.header__menu-inner
					a(href="#").header__menu-link.is-active О Valvoline
					a(href="#").header__menu-link Продукция
					a(href="#").header__menu-link Точки продаж
					a(href="#").header__menu-link Полезная информация
					a(href="#").header__menu-link Дистрибьюторам
