extends layout-inner

block title
	title map

block content

	.map
		.map__map#map
		
		.map__content
			.m-cont__title.m-cont__title--compact(data-aos='fade-up') Выбрать другую точку
				.m-cont__title-checked
					.m-cont__title-checked-name Москва
					.m-cont__drop
						a(href="#").m-cont__drop-link Москва
						a(href="#").m-cont__drop-link Санкт-Петербург
						a(href="#").m-cont__drop-link Новосибирск
						a(href="#").m-cont__drop-link Екатеринбург
						a(href="#").m-cont__drop-link Нижний Новгород
						a(href="#").m-cont__drop-link Казань
						a(href="#").m-cont__drop-link Москва
						a(href="#").m-cont__drop-link Санкт-Петербург
						a(href="#").m-cont__drop-link Новосибирск
						a(href="#").m-cont__drop-link Екатеринбург
						a(href="#").m-cont__drop-link Нижний Новгород
						a(href="#").m-cont__drop-link Казань

			.m-cont__tabs
				.m-cont__tabs-top
					.m-cont__tabs-button.is-active(data-tab='type_1') Точки продаж
					.m-cont__tabs-button(data-tab='type_2') Дистрибьюторы
					.m-cont__tabs-opener
						.m-cont__tabs-opener-bar
						.m-cont__tabs-opener-bar
						.m-cont__tabs-opener-bar

				.m-cont__tabs-content
					.m-cont__tabs-content-item#type_1(style='display: block')
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
					.m-cont__tabs-content-item#type_2
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23
						.m-cont__tabs-item
							a(href="#").m-cont__tabs-item-title ООО МаслаТорг
							.m-cont__tabs-item-addr Москва, ул. Пушкинская, 23



		