extends layout-inner

block title
	title product

block content
	
	.p-slider
		.p-slider__scene.owl-carousel
			.p-slider__slide(data-aos='fade-up' data-aos-delay="0")
				.p-slider__title SynPower
				.p-slider__image
					img(src="assets/images/content/img_product.png", alt="").p-slider__image-file
			.p-slider__slide(data-aos='fade-up' data-aos-delay="0")
				.p-slider__title SynPower
				.p-slider__image
					img(src="assets/images/content/img_product.png", alt="").p-slider__image-file
			.p-slider__slide(data-aos='fade-up' data-aos-delay="0")
				.p-slider__title SynPower
				.p-slider__image
					img(src="assets/images/content/img_product.png", alt="").p-slider__image-file
			.p-slider__slide(data-aos='fade-up' data-aos-delay="0")
				.p-slider__title SynPower
				.p-slider__image
					img(src="assets/images/content/img_product.png", alt="").p-slider__image-file
			.p-slider__slide(data-aos='fade-up' data-aos-delay="0")
				.p-slider__title SynPower
				.p-slider__image
					img(src="assets/images/content/img_product.png", alt="").p-slider__image-file

		.p-silder__arrows

	.container
		.p-feature(data-aos='fade-up')
			.p-features__row
				.p-features__card.p-features__card--light
					.p-features__inner.scrollbar
						.p-features__title Сертифицированное производителями оригинальных двигателей моторное масло премиум-класса
						.p-features__text
							p SynPower – результат постоянного стремления Valvoline к инновациям. SynPower – одобренное производителями оригинальных двигателей моторное масло премиум-класса, обеспечивающее высочайшую эффективность и соответствующее самым последним стандартам ведущих производителей двигателей.Оно создано с учетом потребностей двигателей нового поколения с уменьшенным расходом топлива, меньшим уровнем выбросов и увеличеннымимежсервисными интервалами.
							p Моторное масло SynPower специально разработано для обеспечения максимальной защиты двигателя. Благодаря использованию передовых комплектов присадок масло SynPower сохраняет двигатель в чистоте, предотвращает образование вредного осадка и отложений. Исключительная стабильность этого масла обеспечивает длительную работу
							p SynPower – результат постоянного стремления Valvoline к инновациям. SynPower – одобренное производителями оригинальных двигателей моторное масло премиум-класса, обеспечивающее высочайшую эффективность и соответствующее самым последним стандартам ведущих производителей двигателей.Оно создано с учетом потребностей двигателей нового поколения с уменьшенным расходом топлива, меньшим уровнем выбросов и увеличеннымимежсервисными интервалами.
							p Моторное масло SynPower специально разработано для обеспечения максимальной защиты двигателя. Благодаря использованию передовых комплектов присадок масло SynPower сохраняет двигатель в чистоте, предотвращает образование вредного осадка и отложений. Исключительная стабильность этого масла обеспечивает длительную работу

				.p-features__card.p-features__card--blue
					.p-features__inner.scrollbar
						.p-features__title Преимущества моторных масел SynPower
						.p-features__text
							p 1. Спецификации масла признаны и одобрены ведущими производителями двигателей<br> 2. Высококачественные базовые масла и добавки обеспечивают оптимальную смазку в любых условиях эксплуатации<br> 3. Передовые моющие присадки удаляют из двигателя шлам и отложения. Благодаря активному контролю предотвращается формирование новых вредных отложений<br> 4. Отличная стабильность масла обеспечивает длительную работу. Допускает увеличение интервалов замены масла<br> 5. Снижающие трение присадки в сочетании с низкой вязкостью обеспечивают максимальную экономию топлива<br> 6. Масла семейства SynPower со спецификациями ACEA C оптимизированы для использования с системами контроля выбросов, такими как DPF (сажевые фильтры) и трехкомпонентные нейтрализаторы (TWC)

		.product-cards(data-aos='fade-up')
			.product-cards__row

				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5
				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5
				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5

				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5
				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5

				.product-card
					a(href="#").product-card__link
					.product-card__top
						img(src="assets/images/content/img-good.png", alt="").product-card__img
						.product-card__title Фасовка (Л)
						.product-card__options
							.product-card__option.active 1
							.product-card__option.active 4
							.product-card__option 5
							.product-card__option.active 20
							.product-card__option 60
							.product-card__option.active 208
					.product-card__content
						.product-card__name SynPower 0W-40
						.product-card__text.product-card__text--green BMW LL-01, MB-Approval 229.5, Porsche A40, Renault RN0700/0710, VW Standard 502.00/505.00
						.product-card__text.product-card__text--grey ACEA A3/B4, API: SL, SN; подходит для использования в случаях, когда рекомендовано применение MB 229.3, 229.1, 226.5



			.product-cards__more
				a(href="#").button.button--dark.button--compact Показать еще
