@media screen and (max-width: 767px) {

	.header {
		&__row {
			padding: 30px 0;
		}
		&__burger {
			transform: translateY(10px);
		}

		&__menu {
			padding: 100px 0 50px 0;

			&-link {
				font-size: 22px;
			}

			&-inner {
				padding-left: 100px;

				&:before {
					font-size: 72px;
				}
			}
		}
	}
}