@media screen and (max-width: 1279px) {

	.not-found {

		&__row {
			padding-left: 55px;

			&:before {
				height: 340px;
				top: 130px;
				width: 240px;
			}
		}

		&__value {
			font-size: 300px;
		}

		&__title {
			font-size: 48px;
			line-height: 58px;  
			text-align: center;
			margin-bottom: 25px;
		}

		&__text {
			text-align: center;
		}

		&__btn {
			display: flex;
			justify-content: center;

			.button {
				padding: 20px 40px;
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.not-found {

		&__row {
			padding-top: 100px;
			padding-bottom: 50px; 
			padding-left: 0;
			display: block;

			&:before {
				right: 30px;
				top: 100px;
				width: auto;
				left: 0;
			}
		}

		&__value {
			text-align: right;
			margin-bottom: 25px;
		}

		&__content {
			padding-left: 0;
		}

		&__btn {

			.button {
				padding: 20px 25px;
			}
		}
	}
}